.schedule {
    margin: 110px auto;

    span,
    p,
    h3 {
    font-family: "Montserrat", open-sans;
    color: #2e363e;
  }

 

  &__title {
    font-family: "Montserrat", open-sans;
    color: #2e363e;
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  &__content {
    display: flex;

  &--form {
    width: 574px;
    height: 586px;
    background-color: #e9f3ed;
    border-radius: 18px;
    text-align: center;
    padding-top: 95px;

    li {
      text-align: center;

      h3 {
        font-size: 18px;
        font-weight: 500;
        text-align: left;
        color: #2e363e;
        margin: 15px 20px 10px 20px;
      }

      input, select {
        border: none;
        border-bottom: #2e363ea1 solid .5px;
        color: #2e363e;
        background: none;
        font-size: 16px;
        font-family: Montserrat;
        width: 90%;
        padding: 5px;
      }
    }

    button {
      width: 320px;
      height: 60px;
      background-color: #91a89b;
      border: none;
      border-radius: 18px;
      color: #2e363e;
      font-size: 16px;
      font-family: Montserrat;
      font-weight: 500;
      margin: 15px auto;
      transition: all 0.2s linear;
            cursor: pointer;
            &:hover {
                filter: brightness(90%);
            }

    }
  }

  &--info {
    margin-left: 103px;
    h3 {
        font-size: 21px;
        font-weight: 600;
      }
    
      span, p {
        font-size: 21px;
        font-weight: 400;
      }

    &--days {
        width: 500px;
        height: 88px;
        background-color: #e9f3ed;
        border-radius: 18px;
        display: flex;
        margin-bottom: 14px;

        &--text {
            margin: auto 15px;
        }

        &--rectangle {
            height: 58px;
            width: 17px;
            background-color: #91a89b;
            border-radius: 14px;
            margin-left: 23px;
            margin-top: 15px;
        }
    }

    &--hours {
        width: 500px;
        height: 135px;
        background-color: #e9f3ed;
        border-radius: 18px;
        display: flex;
        margin-bottom: 15px;

        &--text {
            margin: auto 15px;
        }

        &--rectangle {
            height: 105px;
            width: 17px;
            background-color: #91a89b;
            border-radius: 14px;
            margin-left: 23px;
            margin-top: 15px;
        }
    }

    &--weekend {
        width: 500px;
        height: 88px;
        background-color: #e9f3ed;
        border-radius: 18px;
        display: flex;
        margin-bottom: 15px;

        &--text {
            margin: auto 15px;
        }

        &--rectangle {
            height: 58px;
            width: 17px;
            background-color: #91a89b;
            border-radius: 14px;
            margin-left: 23px;
            margin-top: 15px;
        }
    }

    &--price {
        width: 500px;
        height: 232px;
        background-color: #e9f3ed;
        border-radius: 18px;
        display: flex;
        margin-bottom: 15px;

        &--text {
            margin: auto 15px;
        }

        &--rectangle {
            height: 202px;
            width: 17px;
            background-color: #91a89b;
            border-radius: 14px;
            margin-left: 23px;
            margin-top: 15px;
        }
    }
  }
}
}